<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @album.picture %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @album.caption %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
